#page-home .content {
    margin: 0 auto;
    max-width: 1100px;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr;
    grid-template-areas: 'cabecalho cadastro' 'conteudo fundo';
}

#page-home .content header {
    margin-top: 48px;
    grid-area: cabecalho;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-home .content nav {
    margin-top: 48px;
    grid-area: cadastro;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#page-home .content main {
    grid-area: conteudo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page-home .content div {
    grid-area: fundo;
    background: url('../assets/home-background.svg') no-repeat;
    background-position-x: -10vw;
    background-position-y: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-home .content nav a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
}

#page-home .content nav a span {
    margin-right: 16px;
    display: flex;
    background-image: url('../assets/log-in.svg');
    width: 20px;
    height: 20px;
}

#page-home .content main h1 {
    font-size: 54px;
    text-align: center;
}

#page-home .content main p {
    text-align: center;
    padding: 30px;
    font-size: 24px;
    line-height: 38px;
}

#page-home .content main a {
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    transition: background-color 400ms;
}

#page-home .content main a:hover {
    background-color: #2fB86E;
}

#page-home .content main a span {
    width: 72px;
    height: 72px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-home .content main a span::after {
    content: "";
    background-image: url('../assets/search.svg');
    width: 20px;
    height: 20px;
}

#page-home .content main a strong {
    flex: 1;
    color: white;
    text-align: center;
}